<footer class="footer">
	<div class="container">
		<div class="content has-text-centered is-size-7">
			<p><i class="fa fa-hashtag"></i>&nbsp;&copy; 2018 - <strong>Le relais pour la vie</strong>
				<span class="is-hidden-mobile">
					&nbsp;&nbsp;~&nbsp;&nbsp;Built with <a href="https://angular.io/" target="_new">Angular</a>,
					<a href="https://bulma.io/" target="_new">Bulma</a>,
					<a href="http://leafletjs.com" target="_new">Leaflet</a>, 
					<span class="icon is-small">
						<i class="fa fa-heart"></i>
					</span> and
					<span class="icon is-small">
						<i class="fa fa-coffee"></i>
					</span>
				</span>
			</p>
		</div>
	</div>
</footer>